.cropper-crop-box {
	&,
	.cropper-view-box {
		border-radius: 50%;
	}

	.cropper-view-box {
		box-shadow: 0 0 0 1px #39f;
		outline: 0;
		outline: inherit !important;
	}

	.cropper-face {
		background-color: inherit !important;
	}

	.cropper-dashed,
	.cropper-line {
		display: none !important;
	}

	.cropper-point.point-se {
		top: 82%;
		right: 11%;
	}
	.cropper-point.point-sw {
		top: 82%;
		left: 11%;
	}
	.cropper-point.point-nw {
		top: calc(18% - 5px);
		left: 11%;
	}
	.cropper-point.point-ne {
		top: calc(18% - 5px);
		right: 11%;
	}

	.point-se {
		width: 5px !important;
		height: 5px !important;
	}
}
