img {
    max-width: inherit;
    max-height: inherit;
}

.logo {
    max-width: 100px;
    max-height: 100px;
}

.reaction-image {
    max-width: 50px;
    max-height: 50px;
    cursor: pointer;
    &.active {
        filter: invert(36%) sepia(70%) saturate(5181%) hue-rotate(210deg) brightness(101%) contrast(104%);
    }
}

.settings-icon,
.nav-icon {
    max-width: 2.5rem;
    max-height: 2.5rem;
}

.search-icon,
.post-settings-icon {
    max-width: 30px !important;
    max-height: 30px !important;
}

.post-settings-icon {
    cursor: pointer;
}

.profile-pic {
    max-width: 100px;
    max-height: 100px;
}
