@use "../abstract/" as *;

img {
    max-width: inherit;
    max-height: inherit;
}

.logo {
    max-width: 100px;
    max-height: 100px;
}

.reaction-image {
    max-width: 50px;
    max-height: 50px;
    cursor: pointer;
    &.active {
        filter: $filter-blue;
    }
    @include mediaQuery("tablet-lower", "tablet-upper") {
        max-width: 40px !important;
        max-height: 40px !important;
    }
    @include mediaQuery("mobile-lower", "mobile-upper") {
        max-width: 30px !important;
        max-height: 30px !important;
    }
}

.settings-icon,
.notifications-icon,
.nav-icon {
    max-width: 2.5rem;
    max-height: 2.5rem;
}

.search-icon,
.post-settings-icon {
    max-width: 30px !important;
    max-height: 30px !important;
}

.post-settings-icon {
    cursor: pointer;
}
