@use "../abstract" as *;

.color-main {
  background-color: $honey-yellow;
}

.color-bg {
  background-color: $light-shade-yellow;
}

.title {
  font-family: $font-title;
  font-size: 80px;
  transform: skewY(-7deg);
  letter-spacing: 4px;
  word-spacing: -8px;
  color: $primary;
  text-shadow: -1px -1px 0 $queen-blue, -2px -2px 0 $queen-blue, -3px -3px 0 $queen-blue, -4px -4px 0 $queen-blue,
    -5px -5px 0 $queen-blue, -6px -6px 0 $queen-blue, -7px -7px 0 $queen-blue, -8px -8px 0 $queen-blue,
    -30px 20px 40px $shadow;
}

body {
  background-color: $light-shade-yellow !important;
  text-align: center;
  font-size: 50px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

// .color-button {
//     background-color: $queen-blue;
//     :hover {
//         background-color: $queen-blue;
//     }
// }
