@use "../abstract" as *;

html {
    scroll-behavior: smooth;
}

body {
    background-color: $light-shade-yellow !important;
    height: 100vh;
    text-align: center;
    align-items: center;

    &,
    main {
        display: flex;
        justify-content: center;
        overflow: hidden;
    }

    main {
        margin-top: 15px;
        padding: 0 1rem 0;
        height: 84%;
        @include mediaQuery("desktop-lower", "desktop-upper") {
            flex-direction: row;
        }
    }

    .form-label {
        padding: 0.75rem !important;
    }
}
