@use "../abstract" as *;

body {
    background-color: $light-shade-yellow !important;
    height: 100vh;
    text-align: center;
    align-items: center;
    &,
    main {
        display: flex;
        justify-content: center;
        overflow: hidden;
    }

    main {
        margin-top: 15px;
        padding-top: 90px;
        flex-direction: column;
        height: 84%;
        padding: 0 1rem;
        @include mediaQuery("desktop-lower", "desktop-upper") {
            flex-direction: row;
        }
    }

    .form-label {
        padding: 0.75rem !important;
    }
}
