@use "../abstract" as *;

body {
  background-color: $light-shade-yellow !important;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
