@use "../abstract/" as *;

footer {
    p {
        margin: 0;
    }

    .row {
        @include mediaQuery("mobile-lower", "mobile-upper") {
            gap: 2vw;
        }
        @include mediaQuery("tablet-lower", "tablet-upper") {
            gap: 6vw;
        }
        @include mediaQuery("desktop-lower", "desktop-upper") {
            gap: 10vw;
        }
    }

    .nav-col {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1 0 0%;
        width: 25vw !important;
        &:hover {
            filter: $filter-blue;
            cursor: pointer;
        }
    }

    .nav-text {
        font-weight: bold;
    }
}
