@use "../abstract/" as *;

.notification-container {
    margin-left: 1rem;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 5px;
    width: 25vw;
    height: 82vh !important;
    @include mediaQuery("tablet-lower", "tablet-upper") {
        width: 95vw;
        margin: 0;
    }
    @include mediaQuery("mobile-lower", "mobile-upper") {
        width: 95vw;
        margin: 0;
    }

    .row {
        width: inherit;
    }

    form {
        padding-bottom: 15px;
        p {
            margin: 0;
        }
        button {
            margin-top: 0.5rem;
        }
    }

    .di-flex {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}
