$honey-yellow: #ffb30f;
$light-shade-yellow: #ffe599;
$queen-blue: #33658a;
$primary: #0d6efd;
$shadow: #696969;
$border: #dee2e6;

$filter-blue: invert(36%) sepia(70%) saturate(5181%) hue-rotate(210deg) brightness(101%) contrast(104%);
